#h1{
    text-align: center;
    
}
#bac{
    background-repeat: no-repeat;
    background-size:cover;
}
#b,#b2,#b3{
    /* font-weight: 900; */
    width: 100px;
    height: 100px;
}
#h2{
    font-weight: 800;
    font-style: italic;
    width: 20%;
    height:20%;
    color: green;
}